{% load static %}

<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'img\rit-singlepage.png'%}" rel="icon">
</head>
<body>
    {% include "guest/navigation.html" %}
    <div class="main-content" id="panel">


        {% block content %}{% endblock content %}

    </div>
    {% include "guest/footer.html" %}

    {% block javascripts %}
    {% endblock javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>