{% extends "layouts/base.html" %}

{% block content %}
<h1 class="text-center mt-4">DAFTAR ACARA</h1>
<div class="d-flex justify-content-start">
  <a href="{% url "buat_acara" %}" class="mt-3">
    <button class="btn btn-primary">Buat acara</button>
  </a>
</div>
<div class="table-responsive">
    <table class="table table-flush" id="datatable">
      <thead class="thead-light">
        <tr>
          <th>No</th>
          <th>Nama acara</th>
          <th>Tanggal Mulai</th>
          <th>Tanggal Selesai</th>
          <th>Komunitas</th>
          <th>Divisi</th>
          <th>Status</th>
          <th>Gambar</th>
          <th>Aksi</th>
        </tr>
      </thead>
      <tbody class="text-center">
        {% for acara in acara_list %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ acara.nama }}</td>
          <td>{{ acara.tanggal_mulai }}</td>
          <td>{{ acara.tanggal_selesai }}</td>
          <td>{{ acara.komunitas }}</td>
          <td>{{ acara.divisi }}</td>
          <td>{{ acara.status }}</td>
          <td>
            {% for gambar in acara.gambar_list.all %}
              {% if gambar.gambar %}
                <img
                  src="{{ gambar.gambar.url }}"
                  alt="Gambar acara"
                  style="width: 100px; height: auto"
                />
              {% else %}
                Tidak ada gambar
              {% endif %}
            {% empty %}
              Tidak ada gambar
            {% endfor %}
          </td>
          <td>
            <a href="{% url 'edit_acara' acara.id %}" class="btn btn-warning btn-sm">Edit</a>
            <form action="{% url 'hapus_acara' acara.id %}" method="POST" style="display: inline;">
              {% csrf_token %}
              <a href="{% url 'hapus_acara' acara.id %}" class="btn btn-danger btn-sm">Hapus</a>
            </form>
          </td>
        </tr>
        {% empty %}
          <tr>
            <td colspan="8">Tidak ada acara yang tersedia.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
{% endblock content %}