{% extends 'layouts/base.html' %}

{% block title %}Edit Kegiatan{% endblock title %}

{% block content %}
<div class="container mt-4">
    <h2>Edit Kegiatan: {{ kegiatan.nama }}</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Informasi Kegiatan</h5>
                {{ kegiatan_form.as_p }}
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title">Gambar</h5>
                <div class="form-group">
                    <label for="id_gambar">Upload Gambar:</label>
                    <input type="file" name="gambar" id="id_gambar" class="form-control" accept="image/*" onchange="previewImage(event)">
                </div>

                <!-- Preview gambar yang sudah ada di database -->
                <div id="preview-container" class="mt-3">
                    {% for gambar in kegiatan.gambar.all %}
                        {% if kegiatan.gambar %}
                            <img id="preview" src="{{ gambar.gambar.url }}" alt="Gambar Kegiatan" class="img-thumbnail" width="200">
                        {% else %}
                            <img id="preview" src="" class="img-thumbnail d-none" width="200">
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <button type="submit" class="btn btn-info mt-3 mb-4">Simpan Perubahan</button>
        <a href="{% url 'events' %}" class="btn btn-secondary mt-3 mb-4">Batal</a>        
    </form>
</div>

<script>
    function previewImage(event) {
        var preview = document.getElementById('preview');
        var previewContainer = document.getElementById('preview-container');
        var file = event.target.files[0];

        if (file) {
            var reader = new FileReader();
            reader.onload = function() {
                preview.src = reader.result;
                preview.classList.remove('d-none');
            }
            reader.readAsDataURL(file);
        } else {
            preview.src = "";
            preview.classList.add('d-none');
        }
    }
</script>
{% endblock content %}
