{% load static %}
<body>
{% include "includes/navbar_land1.html" %}
{% block content %}
{% endblock %}

    <div class="container-fluid backjum" style="height: 600px;">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-md-5">
                    <img class="img-fluid" style="max-height: 350px; margin-right: 30px;" src="{% static 'img/rit-singlepage.png' %}" alt="Logo-RIT">
                </div>
                <div class="col-md-7">
                    <h1 class="display-4 text-uppercase fs-1 fw-bold">Welcome to Republic Information of Technology</h1>
                    <p class="lead">Wadah bagi mahasiswa Fakultas Komunikasi dan Informasi Universitas Garut untuk berkarya dan mengabdi</p>
                    <a href="{% url "register" %}" class="btn btn-info btn-lg text-white">Join us</a>
                </div>
            </div>
        </div>
    </div>            
    
    <div class="container-fluid backabt scroll-animation" style="height: 550px;">
        <div class="container">
            <div class="row">
                <div class="col-md-7" style="margin-top: 100px;">
                    <h1 class="scroll-animation">About us</h1>
                    <p class="lh-base fs-5 scroll-animation" style="margin-top: 20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquam neque non felis finibus, consequat cursus orci dignissim. Nunc rutrum aliquet lectus eget vestibulum. Cras quis libero risus. Pellentesque ornare lacinia vulputate. Suspendisse at risus nec nulla pretium auctor. Suspendisse nec ex dui. Nam hendrerit pretium lobortis. Duis metus purus, tempor nec tristique eget, lobortis vitae augue. Sed condimentum efficitur urna, eget tristique ante pretium non. Vivamus congue erat nibh, sed dictum dui tincidunt ut. Aliquam vitae consectetur quam, ut lobortis erat. Sed ornare scelerisque orci, id condimentum tellus auctor quis.</p>
                </div>
                <div class="col-md-5 text-center scroll-animation">
                    <img src="{% static 'img/logo-text-hitam.png' %}" alt="Logo-RIT" class="img-fluid" style="max-height: 400px; margin-top: 100px;">
                </div>
            </div>
        </div>
    </div>    

    <div class="container-fluid backact scroll-animation" id="activities">
        <div class="container">
            <h1 class="text-center fw-bold fs-1 mt-5">Activities</h1>
            <p class="text-center">Berikut beberapa kegiatan yang kami lakukan :</p>
            <div class="row" style="margin-top: 50px;">
                <div class="col-md-3 text-center activity-item">
                    <img src="{% static 'img/sample1.png' %}" alt="Activity 1" class="shadow-lg img-fluid rounded-custom" title="Activity 1">
                    <p style="margin-top:25px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquam neque non felis finibus, consequat cursus</p>
                </div>
                <div class="col-md-3 text-center activity-item">
                    <img src="{% static 'img/sample2.png' %}" alt="Activity 2" class="shadow-lg img-fluid rounded-custom" title="Activity 2">
                    <p style="margin-top:25px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquam neque non felis finibus, consequat cursus</p>
                </div>
                <div class="col-md-3 text-center activity-item">
                    <img src="{% static 'img/sample3.png' %}" alt="Activity 3" class="shadow-lg img-fluid rounded-custom" title="Activity 3">
                    <p style="margin-top:25px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquam neque non felis finibus, consequat cursus</p>
                </div>
                <div class="col-md-3 text-center activity-item">
                    <img src="{% static 'img/sample4.png' %}" alt="Activity 4" class="shadow-lg img-fluid rounded-custom" title="Activity 4">
                    <p style="margin-top:25px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquam neque non felis finibus, consequat cursus</p>
                </div>
            </div>
            <div class="text-center" style="margin-top: 50px;">
                <a href="" class="btn btn-info btn-lg text-white">Load more</a>
            </div>
        </div>
    </div>

    <div class="container-fluid scroll-animation">
        <div class="container">
            <div class="row" style="margin-top: 100px;">
                <div class="col-md-5 d-flex flex-column justify-content-center text-center">
                    <h1>RIT Division</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="col-md-7 bg-info rounded2 p-4 d-flex align-items-center backdiv">
                    <img style="max-height: 200px; margin-right: 30px;" src="{% static 'img/rit-singlepage.png' %}" class="img-fluid rounded" alt="Logo-RIT">
                    <div class="info">
                        <div class="activity-text" style="opacity: 0; transition: opacity 1s;">
                            <h3 class="divisi-name"><a href="#" style="text-decoration: none; color: white;">Web Division</a></h3>
                            <p class="divisi-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquam neque non felis finibus.</p>
                        </div>
                        <div class="activity-text" style="opacity: 0; transition: opacity 1s;">
                            <h3 class="divisi-name"><a href="#" style="text-decoration: none; color: white;">GameDev Division</a></h3>
                            <p class="divisi-desc">Sed ac felis sit amet turpis tincidunt suscipit non ut dui.</p>
                        </div>
                        <div class="activity-text" style="opacity: 0; transition: opacity 1s;">
                            <h3 class="divisi-name"><a href="#" style="text-decoration: none; color: white;">IoT Division</a></h3>
                            <p class="divisi-desc">Fusce euismod nulla vel ante maximus, sit amet aliquam risus varius.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid backdoc scroll-animation">
        <div class="container" style="margin-top: 100px;">
            <h1 class="text-center">Documentation</h1>
            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid rounded-custom2" src="{% static 'img/sample1.png' %}" alt="">
                    <img class="img-fluid rounded-custom2" style="margin-top: 30px;" src="{% static 'img/sample2.png' %}" alt="">
                </div>
                <div class="col-md-4">
                    <img class="img-fluid rounded-custom2" style="border-radius: 20px; object-fit: cover; width: 100%; height: 100%;" src="{% static 'img/sample5.png' %}" alt="">
                </div>
                <div class="col-md-4">
                    <img class="img-fluid rounded-custom2" style="max-height: 300px;" src="{% static 'img/sample4.png' %}" alt="">
                    <img class="img-fluid rounded-custom2" style="max-height: 300px; margin-top: 30px;" src="{% static 'img/sample1.png' %}" alt="">
                </div>
            </div>
            <div class="text-center" style="margin-top: 50px;">
                <a href="" class="btn btn-info btn-lg text-white">Load more</a>
            </div>
        </div>
    </div>    
    {% include "include/footer_land.html" %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>