{% extends 'layouts/base.html' %}

{% block title %} Struktur - IT Community {% endblock title %}

{% block content %}

<style>
  .it_com {
    margin-top: 5px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
  }

  .gm_com {
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
  }

  .ot_com {
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
  }

  .anth_com {
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
  }

  a:hover .it_com {
    background-color: #e0e0e0; /* Warna latar saat hover */
    cursor: pointer;
  }

  a:hover .gm_com {
    background-color: #e0e0e0; /* Warna latar saat hover */
    cursor: pointer;
  }

  a:hover .ot_com {
    background-color: #e0e0e0; /* Warna latar saat hover */
    cursor: pointer;
  }

  a:hover .anth_com {
    background-color: #e0e0e0; /* Warna latar saat hover */
    cursor: pointer;
  }
</style>  

  <div class="header pb-6" style="background-color: #00c0f0;">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Page</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links">
                <li class="breadcrumb-item"><a href="#"><i style="color: #00c0f0;" class="ni ni-bullet-list-67"></i></a></li>
                <li class="breadcrumb-item"><a {% if 'it_com' in segment %} active {% endif %} href="/struktur" style="color: #00c0f0;">Struktur</a></li>
                <li class="breadcrumb-item"><a {% if 'it_com' in segment %} active {% endif %} href="/struktur/it_com" style="color: #00c0f0; font-weight: bolder;">IT Community</a></li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0" style="background-color: #019BC7; display: flex; justify-content: start; align-items: center;">
            <i class="ni ni-world-2 text-white"></i>
            <h3 class="mb-0 text-white text-uppercase" style="margin-left: 10px;">IT Community</h3>
          </div>
          <div class="card-body">
            <a {% if 'web_dev' in segment %} class="active anchor" {% endif %} href="/struktur/it_com/web_dev" style="text-decoration: none;">
              <div class="it_com" style="color: black; display: flex; align-items: center;">
                <i class="ni ni-html5"></i>
                <span style="margin-left: 10px;">WebDev Division</span>
              </div>
            </a>            
            <a class="active" href="/struktur/it_com/game_dev" style="text-decoration: none;">
              <div class="gm_com" style="color: black; display: flex; align-items: center;">
                <i class="ni ni-controller"></i>
                <span style="margin-left: 10px;">GameDev Division</span>
              </div>
            </a>
            <a class="active" href="/struktur/it_com/iot_div" style="text-decoration: none;">
              <div class="ot_com" style="color: black; display: flex; align-items: center;">
                <i class="ni ni-app"></i>
                <span style="margin-left: 10px;">IoT Division</span>
              </div>
            </a>
            <a class="active" href="/struktur/it_com/keanggotaan" style="text-decoration: none;">
              <div class="anth_com" style="color: black; display: flex; align-items: center;">
                <i class="ni ni-world-2"></i>
                <span style="margin-left: 10px;">Keanggotaan</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
