{% extends 'layouts/base.html' %}

{% block title %} Profile {% endblock title %}

{% block content %}
<style>
  body {
    font-family: 'Nunito', sans-serif;
  }
</style>

<div class="header pb-6 d-flex align-items-center" 
     style="min-height: 350px; background-image: linear-gradient(rgba(6, 197, 245, 0.7), rgba(0, 192, 240, 0.7)), url(/static/assets/img/theme/fko.png); background-size: cover; background-position: center top;">
  <span class="mask opacity-6"></span>
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10 mt-2">
        <h1 class="display-2 text-white"> 
          Hello {{ request.user.nama_lengkap }}
        </h1>
        <p class="text-white mt-0 mb-2">Selamat datang di komunitas Unit Kegiatan Mahasiswa Republic of Information Technology!
          Di sini, kita berbagi minat dan passion yang sama. Mari berkolaborasi!</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <!-- Kartu Profil -->
    <div class="col-xl-4 order-xl-2">
      <div class="card card-profile" style="background-image: url(/static/assets/img/theme/img-1-1000x600.jpg); background-size: cover; background-position: center top;">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image" style="margin-top: 100px;">
              <form id="updatePhotoForm" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" id="uploadPhotoInput" name="foto_profil" style="display: none;" onchange="document.getElementById('updatePhotoForm').submit();">
                <a href="#" onclick="document.getElementById('uploadPhotoInput').click();">
                  {% if request.user.foto_profil %}
                    <img src="{{ request.user.foto_profil.url }}" class="rounded-circle" style="max-width: 200px; max-height: 150px; object-fit: cover;">
                  {% else %}
                    <img src="/static/assets/img/theme/team-5.jpg" class="rounded-circle" style="max-width: 150px;">
                  {% endif %}
                </a>
              </form>
            </div>
          </div>
        </div>
        <div class="card-body rounded-bottom" style="margin-top: 80px; background-color: white;">
          <h5 class="h3">{{ request.user.nama_lengkap }}</h5>
          <div class="mt-2">
            <p><strong>Prodi:</strong> {{ request.user.prodi }}</p>
            <p><strong>Semester:</strong> {{ request.user.semester }}</p>
            <p><strong>Komunitas:</strong> {{ request.user.komunitas }}</p>
            <p><strong>Divisi:</strong> {{ request.user.divisi }}</p>
            <p><strong>Jabatan:</strong> {{ request.user.jabatan }}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Form Edit Profil -->
    <div class="col-xl-8 order-xl-1">
      <div class="card">
        <div class="card-header" style="background-color: #019BC7;">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Edit Profile</h3>
            </div>
            <div class="col-4 text-right">
              <button type="submit" form="profilForm" class="btn btn-sm" style="background-color: #00c0f0; color: white;">Update</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form id="profilForm" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h6 class="heading-small text-muted mb-2">Informasi Pengguna</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">Username</label>
                    <input type="text" name="username" class="form-control" value="{{ request.user.username }}">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">Email</label>
                    <input type="email" name="email" class="form-control" value="{{ request.user.email }}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">Nama lengkap</label>
                    <input type="text" name="nama_lengkap" class="form-control" value="{{ request.user.nama_lengkap  }}">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">Semester</label>
                    <input type="number" name="semester" class="form-control" value="{{ request.user.semester }}">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">Prodi</label>
                    <select name="prodi" class="form-control">
                      <option value="TI" {% if request.user.prodi == "TI" %}selected{% endif %}>Teknologi Informasi</option>
                      <option value="RPL" {% if request.user.prodi == "RPL" %}selected{% endif %}>Rekayasa Perangkat Lunak</option>
                      <option value="RSK" {% if request.user.prodi == "RSK" %}selected{% endif %}>Rekayasa Sistem Komputer</option>
                    </select>
                  </div>
                </div>                
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">NPM</label>
                    <input type="number" name="npm" class="form-control" value="{{ request.user.npm }}">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">Tanggal lahir</label>
                    <input type="date" name="tanggal_lahir" class="form-control" value="{{ request.user.tanggal_lahir }}">
                  </div>
                </div>
              </form>
              <form id="profilForm" method="post" enctype="multipart/form-data">
                <h6 class="heading-small text-muted mb-2">Informasi Komunitas</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label">Komunitas</label>
                        <input type="text" name="komunitas" class="form-control" value="{{ request.user.komunitas }}">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label">Divisi</label>
                        <input type="text" name="divisi" class="form-control" value="{{ request.user.divisi }}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label">Jabatan</label>
                        <input type="text" name="jabatan" class="form-control" value="{{ request.user.jabatan }}">
                      </div>
                    </div>
                  </form>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  {% include "includes/footer.html" %}
</div>

{% endblock content %}
